<div class="thumbnail">
  {{#link-to 'blog' blog.id}}
  <div class="row">
    <div class="col-md-6">
      <img height=100% width=100% id="harryPotter" src={{blog.image}}>
    </div>
    <div class="col-md-6">
      {{blog.title}}'s Review <br> by {{blog.author}}
    </div>
  </div>
  {{/link-to}}
</div>
