<h1>Lincoln and Witty's Contact Page</h1>

<p>If you have any questions, please hesitate before contacting</p>
<p>Thanks</p>

<p>Just kidding..</p>
<p>Maybe..</p>
<p>Just think before contacting us thought..Cheers!</p>

{{#link-to 'about'}}Click here for our About page{{/link-to}}
